<header class="header-grid" *ngIf="person">
  <!-- Блок з вертикальним текстом -->
  <div class="identity-block">
    <div class="vertical-text job-title">
      {{ person.jobTitle }}
    </div>
    <div class="vertical-text name">
      <!-- Розбиваємо ім'я на частини, щоб зробити перше слово жирним -->
      <b>{{ person.name.split(' ')[0] }}</b>
      {{ person.name.split(' ').slice(1).join(' ') }}
    </div>
  </div>

  <!-- Блок з фотографією -->
  <div class="photo-placeholder">
    <div class="photo-border">
      <img [src]="person.photo" [alt]="person.name">
    </div>
  </div>
</header>
