@if (person) {
<header class="header-grid">
  <div class="identity-block">
    @if (isEditing) {
    <div class="edit-inputs">
      <input [(ngModel)]="person.name" class="name-input" placeholder="Ім'я">
      <input [(ngModel)]="person.jobTitle" class="job-input" placeholder="Посада">
    </div>
    } @else {
    <div class="vertical-text job-title">{{ person.jobTitle }}</div>
    <div class="vertical-text name">
      <b>{{ person.name.split(' ')[0] }}</b> {{ person.name.split(' ')[1] }}
    </div>
    }
  </div>

  <div class="photo-placeholder">
    <div class="photo-border">
      <img [src]="person.photo" [alt]="person.name">
    </div>
  </div>
</header>
}
